.cartPopup{
    transform: translateX(100%);
    animation: slideCartPopup 0.8s ease forwards;
}
@keyframes slideCartPopup {
    0%{transform: translateX(100%);}
    100%{transform: translateX(0%);}
}